* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: right;
}

.column2 {
  float: right;
  width: 70%;
  padding: 10px;
  padding-right: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  padding: 2px;
  padding-left: 6px;
  text-align: left;
  background: #434347;
  color: white;
  font-size: 16.5px; }

/* .row2:after {
  content: "";
  display: table;
  clear: both; */

/* .column {
  float: left;
  padding: 10px;
  
.left {
  width: 40%;
}

.right {
  width: 60%;
}
 */

#hovering a{
  text-decoration: none; 
 }

#hovering a:hover {
  text-decoration-line: underline; 
  text-decoration-style: wavy; 
  text-decoration-color: red;
}

b.under:hover {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #ed8298;
}

/* .hover-title {
  display: inline;
  pointer-events: auto;
  cursor: pointer;
}

.hover-image {
  visibility: hidden;
}

body:not(.mobile) .hover-title:hover + .hover-image {
  visibility: visible;
  pointer-events: none;
}

.hover-image {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 90vw;
  height: 90vh;
}

.hover-image img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  margin-bottom: 0;
} */

/* hover-image referenced from videos made by cargo collective */
.hover-title {
  display: inline;
  pointer-events: auto;
  cursor: pointer;
}

.hover-image {
  visibility: hidden;
}

body:not(.mobile) .hover-title:hover + .hover-image {
  visibility: visible;
  pointer-events: none;
}

.hover-image {
  display: flex;
  position: fixed;
  top: 15%;
  left: 53%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 130px;
  height: 130px;
}


/* .hover-image img {
  max-width: 100% !important;
  max-height: 100% !important;
  width: auto !important;
  height: auto !important;
  margin-bottom: 0;
} */