* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
  text-align: right
}

.column2 {
  float: right;
  width: 70%;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  padding: 3px;
  padding-left: 6px;
  text-align: left;
  background: #434347;
  color: white;
  font-size: 16.5px;
